:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  margin: 5rem auto;
  width: 100%;
}

.content {
  height: 100%;
  display: flex;
  gap: 4rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 2px solid var(--border);
  padding-left: 4rem;
  flex: 0 0 30%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .edit-icon-btn {
      cursor: pointer;
      fill: var(--search-bar-text);
      width: 1rem;
      height: 1rem;
    }

    .edit-icon-btn:hover {
      fill: var(--button-hover-bg);
    }
  }

  p {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  .bio {
    color: #8f8f8f;
    max-width: 30ch;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    p {
      margin-bottom: 0;
      font-size: 0.8rem;
    }
  }
}
