:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  margin: 5rem auto;
  width: 100%;
}

.content {
  display: flex;
  gap: 4rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 2px solid var(--border);
  padding-left: 4rem;
  min-width: 36ch;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .edit-btn {
      padding: 0.25rem;
      border-radius: 0.5rem;
      font-size: 0.7rem;
      font-weight: 400;
      cursor: pointer;
      fill: var(--search-bar-text);
    }
  }

  p {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  .bio {
    color: #8f8f8f;
  }

  .details {
    font-size: 0.8rem;
  }
}
