@if (isLoading) {
<app-loader></app-loader>
} @else {
<app-section-title [content]="authorName"></app-section-title>
<div class="content">
  @if (articles.length > 0) {
  <app-article-grid [articles]="articles" [columns]="2"></app-article-grid>
  } @else {
  <app-empty-state></app-empty-state>
  }
  <aside>
    <div class="header">
      <h5>Hello!</h5>

      <!-- @if (currentUserId === authorId) {
      <svg
        routerLink="/settings"
        class="edit-icon-btn"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="1 1 22 22"
      >
        <path
          d="M11.007,9.815l-.956,2.869a1.007,1.007,0,0,0,1.265,1.264l2.869-.956a1.007,1.007,0,0,0,.39-.241l6.736-6.736a2.354,2.354,0,0,0,0-3.327h0a2.356,2.356,0,0,0-3.326,0L11.249,9.425A1,1,0,0,0,11.007,9.815Z"
        />
        <path
          d="M21,9a1,1,0,0,0-1,1v7a3,3,0,0,1-3,3H7a3,3,0,0,1-3-3V7A3,3,0,0,1,7,4h7a1,1,0,0,0,0-2H7A5.006,5.006,0,0,0,2,7V17a5.006,5.006,0,0,0,5,5H17a5.006,5.006,0,0,0,5-5V10A1,1,0,0,0,21,9Z"
        />
      </svg>
      } -->
    </div>

    <p class="bio">
      @if (authorDetails?.bio) {
      {{ authorDetails?.bio }}
      } @else { This author hasn't written a bio yet — probably too busy
      refactoring code or breaking production at 3 a.m. We'll update this as
      soon as they come up for air. }
    </p>
    <div class="details">
      @if (authorDetails?.techStack) {
      <p>
        <strong>Tech stack:</strong>
        {{ authorDetails?.techStack }}
      </p>
      } @if (authorDetails?.currentRole) {
      <p>
        <strong>Current role:</strong>
        {{ authorDetails?.currentRole }}
      </p>
      }
      <p>
        <strong>Member since:</strong>
        {{ authorDetails?.dateJoined?.toDate() | date : "MMM d, y" }}
      </p>
    </div>
  </aside>
</div>
}
