.header-container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.created-date {
  font-size: 0.9rem;
  color: var(--button-bg);
}

.author-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  gap: 1rem;

  .edit,
  .delete {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    cursor: pointer;
    color: var(--search-bar-text);
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;

    svg {
      font-weight: 400;
      fill: var(--search-bar-text);
      width: 0.9rem;
      height: 0.9rem;
    }

    span {
      font-size: 0.7rem;
      font-weight: 500;
    }
  }

  .edit:hover {
    color: var(--button-hover-bg);

    svg {
      fill: var(--button-hover-bg);
    }
  }

  .delete:hover {
    color: #d96766;

    svg {
      fill: #d96766;
    }
  }

  .edit-wrapper {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 1.3rem;
      background-color: var(--search-bar-text);
      position: absolute;
      top: 5px;
      right: -10px;
    }
  }
}

.title-toolbar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-bottom: 2rem;
}

.title {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  line-height: 1.4;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 2rem;

  .author {
    font-size: calc(0.8rem * 0.7);
    display: flex;
    gap: 0.4rem;

    span {
      font-size: 0.8rem;
      font-weight: bold;
      line-height: 1;
      cursor: pointer;
    }
  }

  .likes {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    .likes-count {
      font-size: 0.8rem;
      font-weight: bold;
      min-width: 1ch;
    }

    .heart-icon {
      cursor: pointer;
      fill: none;
      stroke: var(--text-color);
      stroke-width: 6;

      &.liked {
        fill: var(--button-bg);
        stroke: var(--button-bg);
        stroke-width: 6;
      }
    }
  }

  .bookmark-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    fill: none;
    stroke: var(--text-color);
    stroke-width: 45;

    &.checked {
      fill: var(--button-bg);
      stroke: var(--button-bg);
      stroke-width: 45;
    }
  }
}

.cover-img-wrapper {
  width: 100%;
  aspect-ratio: 1.7;
  border-radius: 1rem;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}
