:host {
  flex: 0 0 auto;
  padding-bottom: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
}

span {
  display: inline-block;
}

svg {
  width: 1rem;
  height: 1rem;
  font-family: "Inter", sans-serif;

  circle {
    fill: none;
    stroke: var(--text-color);
  }

  text {
    fill: var(--text-color);
  }
}

.container-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .copyright-icon {
    display: flex;
  }
}

.container-right ul {
  display: flex;
  gap: 2rem;

  li {
    display: block;

    a {
      cursor: pointer;

      &:hover {
        color: #8f8f8f;
      }
    }
  }
}
