:host {
  flex-basis: 100%;
}

.error-message {
  padding: 1rem;
  background-color: var(--notification-bg);
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
}

.err-msg-icon {
  line-height: 0;

  svg {
    stroke: var(--notification-icon);
  }
}

.error-text {
  p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}
