:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.actions-bar {
  display: flex;
  justify-content: space-between;
}

.inputs-wrapper {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.category-select {
  background-color: var(--search-bar-bg);
  color: var(--search-bar-text);
  border-radius: 1.3rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  position: relative;
  width: 14rem;

  select {
    width: 100%;
    appearance: none;
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
  }

  svg {
    stroke: var(--search-bar-text);
    position: absolute;
    top: 52%;
    right: 1.1rem;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.upload-input label {
  background-color: var(--search-bar-bg);
  color: var(--search-bar-text);
  border-radius: 1.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-width: 250px;
  transition: background-color 0.3s ease, color 0.3s ease;

  .upload-icon-btn {
    display: flex;
    align-items: center;

    svg {
      stroke: var(--search-bar-text);
    }
  }

  span {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.publish-btn {
  position: relative;
}

.title-image-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.title-container textarea {
  overflow: hidden;
  resize: none;
  width: 100%;
  font-size: var(--fs-heading-2);
  font-family: "Space Mono", monospace;
  border: none;
  color: var(--text-color);
  background-color: var(--bg-color);
  outline: 1px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1.4;

  &::placeholder {
    color: var(--input-border);
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
.cover-img-wrapper {
  width: 100%;
  aspect-ratio: 1.7;
  border-radius: 1rem;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}

hr {
  border: 1px solid var(--button-bg);
  transition: border-color 0.3s ease, color 0.3s ease;
}

.popup-error {
  background-color: var(--search-bar-bg);
  color: var(--search-bar-text);
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 1;
  top: -125%;
  left: -60%;
  text-wrap: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.fade {
  animation: fadeIn 4s;
  animation-fill-mode: forwards;
}

.popup-error::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--search-bar-bg) transparent transparent transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
