:host {
  flex: 1 1 100%;
}

button {
  width: 100%;
  padding: 1.2rem 0;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary-button-text);
  background-color: var(--primary-button-bg);
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-button-hover-bg);
  }
}
