:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  width: 48ch;
  background-color: var(--modal-bg);
  border-radius: 1.25rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1.1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

app-primary-button {
  margin-top: 0.7rem;
}

p {
  align-self: center;
  font-size: 0.75rem;
  font-weight: 300;

  a {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--search-bar-text);
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4.5px;
    cursor: pointer;
  }
}

/* Input field styles */
.field-wrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

label {
  order: -1;
  color: var(--input-label);
  font-weight: 300;
}

label {
  text-transform: uppercase;
}

input {
  border: none;
  border-bottom: 1px solid var(--input-border);
  background-color: var(--modal-bg);
  padding: 0.7rem 0.8rem 0.5rem 0.8rem;
  color: inherit;
  outline: none;
  transition: border-bottom 0.3s ease-in-out;
  font-size: 0.8rem;

  &::placeholder {
    color: var(--input-placeholder);
    font-weight: 300;
  }

  &:focus {
    border-bottom: 1px solid var(--input-border-focus);
  }
}

.field-wrapper.checkbox {
  flex-direction: row;
  align-items: center;

  input,
  label {
    cursor: pointer;
  }

  input {
    appearance: none;
    border: none;
  }

  label {
    order: 1;
    text-transform: none;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 9px;
      left: -22px;
      width: 15px;
      height: 15px;
      margin-top: -10px;
      border: 1px solid var(--input-border);
      border-radius: 0.2rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 2.5px;
      left: -18.5px;
      width: 8px;
      height: 8px;
      background-color: var(--text-color);
      border-radius: 2px;
      opacity: 0;
      transform: scale(0);
      transition: all 0.3s;
    }
  }

  input:checked + label::after {
    opacity: 1;
    transform: scale(1);
  }
}

.field-wrapper.row-layout {
  flex: 1 1 45%;
}
