<div class="modal-wrapper">
  <div class="title">{{ title }}</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @for(fieldConfig of fieldsArr; track $index) { @if(fieldConfig[1].type ===
    "checkbox") {
    <div class="field-wrapper checkbox">
      <input
        [formControlName]="fieldConfig[0]"
        type="checkbox"
        [name]="fieldConfig[1].name"
        [id]="fieldConfig[1].id"
        [required]="fieldConfig[1].required ? true : false"
      />
      <label [for]="fieldConfig[0]">{{ fieldConfig[1].label }}</label>
    </div>
    } @else if (fieldConfig[1].type === "password") {
    <div class="field-wrapper" [class]="fieldLayout">
      <input
        [formControlName]="fieldConfig[0]"
        [type]="fieldConfig[1].type"
        [name]="fieldConfig[1].name"
        [id]="fieldConfig[1].id"
        [placeholder]="fieldConfig[1].placeholder"
        [required]="fieldConfig[1].required ? true : false"
      />
      <label [for]="fieldConfig[0]">{{ fieldConfig[1].label }}</label>
    </div>
    } @else {
    <div class="field-wrapper">
      <input
        [formControlName]="fieldConfig[0]"
        [type]="fieldConfig[1].type"
        [name]="fieldConfig[1].name"
        [id]="fieldConfig[1].id"
        [placeholder]="fieldConfig[1].placeholder"
        [required]="fieldConfig[1].required ? true : false"
      />
      <label [for]="fieldConfig[0]">{{ fieldConfig[1].label }}</label>
    </div>
    } } @if (isFormInvalid || serverErrorMessage) {
    <app-error-message
      [failedValidators]="failedValidators"
      [errorMessages]="errorMessages"
      [serverErrorMessage]="serverErrorMessage"
    ></app-error-message>
    }

    <app-primary-button
      type="submit"
      [btnText]="btnText"
      [isLoading]="isLoading"
    ></app-primary-button>
  </form>

  @if (mode === "register") {
  <p>Already have an account? <a (click)="switchToLogin()">Log in</a></p>
  } @else if (mode === "login") {
  <p>Don't have an account yet? <a (click)="switchToRegister()">Sign up</a></p>
  }
</div>
