:host {
  position: absolute;
  width: 160%;
  top: 20px;
  left: -11px;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: var(--bg-color);
  z-index: 2;
  transition: background-color 0.3s ease, color 0.3s ease;
}

ul {
  padding: 0 11px 0.8rem 11px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  li {
    list-style: none;
    cursor: pointer;
    height: fit-content;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 7px;
    }

    a {
      font-weight: 500;
    }
  }

  li:not(:last-of-type) a {
    font-weight: 400;
  }
}

.logout {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 1rem;

  svg {
    stroke: var(--text-color);
    transform: rotate(90deg);
  }
}
