@if (isLoading) {
<app-loader></app-loader>
} @else {
<app-article-header
  [articleId]="articleId"
  [article]="article"
  [isCopied]="isCopied"
  [isOwner]="isOwner"
  [hasLiked]="hasLiked"
  [hasBookmarked]="hasBookmarked"
  [currentUserId]="currentUserId"
  [isMenuOpened]="isMenuOpened"
  (toggleMenu)="toggleMenu()"
  (authorClick)="openAuthorProfile($event)"
  (like)="onLike()"
  (bookmark)="onBookmark()"
  (share)="onShare()"
  (delete)="onDelete()"
></app-article-header>
<app-article-content
  [sanitizedContent]="sanitizedContent"
></app-article-content>
@if (hasError) {
<app-toast-notification
  [textContent]="serverErrorMessage"
></app-toast-notification>
} }
