:host {
  flex: 0 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;

  &.container-left {
    gap: 3rem;
  }

  &.container-right {
    gap: 2rem;
  }
}

.logo {
  font-size: var(--fs-heading-2);
  font-weight: bold;
  cursor: pointer;
  margin-top: -7px;
}

nav > ul {
  display: flex;
  gap: 2.5rem;

  li {
    list-style: none;
    cursor: pointer;
    height: fit-content;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 7px;
    }

    a {
      font-weight: 500;
    }

    &:last-of-type {
      position: relative;
    }
  }
}

.menu-header {
  display: flex;
  gap: 0.5rem;

  & .down-arrow-icon-wrapper {
    display: flex;
    align-items: center;

    svg {
      stroke: var(--text-color);
    }
  }
}

.create-icon-btn {
  display: flex;
  margin-left: 3rem;
  cursor: pointer;

  svg {
    fill: var(--button-bg);

    path {
      stroke-width: 0.5;
      stroke: var(--button-text);
      fill: var(--button-text);
    }

    &:hover {
      fill: var(--button-hover-bg);
    }
  }
}

#themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  height: 35px;
  overflow: hidden;

  .orbit-mask {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 14px;

    .dark-theme-icon-wrapper {
      margin-top: 8px;

      svg {
        fill: var(--text-color);
      }
    }

    .light-theme-icon-wrapper {
      margin-bottom: 4px;

      svg {
        stroke: var(--text-color);
      }
    }
  }
}
