:host {
  flex: 0 0 auto;
  padding-top: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;

  &.container-left {
    gap: 3rem;
  }

  &.container-right {
    gap: 2rem;
  }
}

.logo {
  font-size: var(--fs-heading-2);
  font-weight: bold;
  cursor: pointer;
  margin-top: -7px;
}
