@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --fs-body: clamp(0.875rem, 0.5rem + 0.6vw, 1.125rem);

  --fs-heading-6: clamp(0.9rem, 0.5rem + 0.8vw, 1.2rem);
  --fs-heading-5: clamp(1rem, 0.6rem + 1vw, 1.5rem);
  --fs-heading-4: clamp(1.1rem, 0.65rem + 1.2vw, 1.75rem);
  --fs-heading-3: clamp(1.25rem, 0.7rem + 1.5vw, 2rem);
  --fs-heading-2: clamp(1.5rem, 0.8rem + 2vw, 2.4rem);
  --fs-heading-1: clamp(2.5rem, 1rem + 6vw, 7rem);

  --bg-color: white;
  --text-color: #2e2e2e;
  --link-color: #1232ff;
  --button-bg: #1232ff;
  --button-text: white;
  --button-hover-bg: #3451ff;
  --primary-button-bg: #2e2e2e;
  --primary-button-text: white;
  --primary-button-hover-bg: #373737;
  --span-text: #1232ff;
  --search-bar-bg: #eee;
  --search-bar-text: #8f8f8f;
  --border: #ddd;
  --modal-backdrop: rgba(0, 0, 0, 0.7);
  --modal-bg: white;
  --input-label: #aaa;
  --input-placeholder: #ddd;
  --input-border: #ccc;
  --input-border-focus: #757575;
}

body.dark-mode {
  --bg-color: #1f1f1f;
  --text-color: #ededed;
  /* --link-color: #3b5beb; */
  --link-color: #7283f6;
  /* --button-bg: #3b5beb; */
  --button-bg: #3a4fcb;
  --button-text: #ededed;
  /* --button-hover-bg: #0022ff; */
  --button-hover-bg: #4257c9;
  /* --primary-button-bg: #3b5beb; */
  --primary-button-bg: #3a4fcb;
  --primary-button-text: #ededed;
  --primary-button-hover-bg: #4257c9;
  /* --span-text: #3b5beb; */
  --span-text: #3a4fcb;
  --search-bar-bg: #2c2c2c;
  --search-bar-text: #8f8f8f;
  --border: #404040;
  --modal-backdrop: rgba(17, 17, 17, 0.7);
  --modal-bg: #1f1f1f;
  --input-label: #7f7f7f;
  --input-placeholder: #5f5f5f;
  --input-border: #373737;
  --input-border-focus: #666666;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-y: auto;
}

html {
  box-sizing: border-box;
  font: var(--fs-body) "Space Grotesk", sans-serif;
}

body {
  height: 100vh;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

span.special-text {
  color: var(--span-text);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body,
input,
textarea,
select,
option {
  font: inherit;
}

:is(p, ul, ol):not(:last-child) {
  margin-bottom: 1.2rem;
}

ul,
ol {
  padding-left: 2rem;
}

ul li,
ol li {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: var(--fs-heading-1);
}
h2 {
  font-size: var(--fs-heading-2);
}
h3 {
  font-size: var(--fs-heading-3);
}
h4 {
  font-size: var(--fs-heading-4);
}
h5 {
  font-size: var(--fs-heading-5);
}
h6 {
  font-size: var(--fs-heading-6);
}

.cdk-overlay-backdrop {
  background-color: var(--modal-backdrop) !important;
}

.mat-mdc-dialog-surface {
  background-color: transparent !important;
}
