:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    width: 30ch;
    line-height: 1.4;
    margin-bottom: 0;
  }
}

app-cta-button {
  font-size: smaller;
}
