@if (isLoadingPage) {
<app-loader></app-loader>
} @else {
<app-section-title [content]="displayName"></app-section-title>
<div class="container">
  <app-profile-details-form
    [form]="profileDetailsForm"
    [bio]="bio"
    [currentRole]="currentRole"
    [techStack]="techStack"
    [isEditing]="isEditing"
    [isLoading]="isSaving"
    (editingChange)="onEditingChange($event)"
    (submit)="onSubmit()"
  ></app-profile-details-form>
  <app-profile-stats
    [email]="email"
    [dateJoined]="dateJoined"
    [articleCount]="articleCount"
    [favoriteCategory]="favoriteCategory"
    [totalLikes]="totalLikes"
  ></app-profile-stats>
</div>
@if (hasError) {
<app-toast-notification
  [textContent]="serverErrorMessage"
></app-toast-notification>
} }
